# Dictionary

Dictionary is unordered set of key : value pairs , here keys are unique, values can be duplicated.
a pair of braces creates an empty dictionary :{ }.
the main operation on a dictionary are storing  a value with some key and extracting the value given to the key.
insertion order is not preserved.
homogenous and heterogenous elements for both keys & values.
keys are immutable and values are mutable.
indexing & slicing is not possible.

# creating empty dictionary

In [1]:
a={}

In [2]:
type(a)

dict

In [3]:
## now here i am adding one key to store the value to a

In [4]:
a['bcd']=10

In [5]:
a

{'bcd': 10}

In [6]:
a['bcd']=20

In [7]:
a

{'bcd': 20}

# creating a dictionary with dict()

In [8]:
ab=dict([('b',20),('a',10),('c',30)])

In [9]:
ab

{'b': 20, 'a': 10, 'c': 30}

In [10]:
studentdetails={'id':100,'name':'abc','age':23,'marks':95}

In [11]:
studentdetails

{'id': 100, 'name': 'abc', 'age': 23, 'marks': 95}

# now i want to print the value of 100 using key

In [12]:
studentdetails['id']

100

# we can create more than one value for a key

In [13]:
studetails={'id':200,'name':'cde','age':26,'marks':[95,40,100]}

In [14]:
studetails

{'id': 200, 'name': 'cde', 'age': 26, 'marks': [95, 40, 100]}

# i want to print the value of 40

In [17]:
studetails['marks'][1]

40

# i want to print the value of 100

In [16]:
studetails['marks'][2]

100

# updating dictionary

In [18]:
studetails['id']=200

In [19]:
studetails

{'id': 200, 'name': 'cde', 'age': 26, 'marks': [95, 40, 100]}

# deleting key: value pairs from dict

In [20]:
## pop() -- this function will delete specified key value pairs
studetails.pop('age')

26

In [21]:
studetails

{'id': 200, 'name': 'cde', 'marks': [95, 40, 100]}

In [22]:
## popitem : lastkey and its values will be removed
studetails.popitem()

('marks', [95, 40, 100])

In [22]:
## delete all key value pairs
studetails.clear()

In [23]:
studetails

{}

# dictionary functions

In [24]:
## keys() -- with the help of this fucntion we can view the keys in dictionary
a={1:'python',2:3+5j,3:(10,20,30)}

In [25]:
a

{1: 'python', 2: (3+5j), 3: (10, 20, 30)}

In [26]:
a.keys()

dict_keys([1, 2, 3])

In [27]:
studetails={'id':100,'name':'abc','age':23,'marks':95}

In [28]:
studetails.keys()

dict_keys(['id', 'name', 'age', 'marks'])

In [29]:
## values --> we can find the all values assocaited with keys
a.values()

dict_values(['python', (3+5j), (10, 20, 30)])

In [30]:
studetails.values()

dict_values([100, 'abc', 23, 95])

In [31]:
## copy() --- creates the copy of it
ab=studetails.copy()

In [32]:
ab

{'id': 100, 'name': 'abc', 'age': 23, 'marks': 95}

In [34]:
## pop() , popitem() ,clear()

In [33]:
## get : get the value of specified key
ab.get('id')

100

In [34]:
ab['id']

100

In [43]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [44]:
car.setdefault("model", "Bronco")

'Mustang'

In [45]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [38]:
##items -- key and its pairs will be printed
ab.items()

dict_items([('id', 100), ('name', 'abc'), ('age', 23), ('marks', 95)])

In [48]:
## update  --> 
ab['id']=200