# Basic Functions

### Print ()

In [1]:
#print is used for to show output on the screen
a=10
print(a)

10

# Storage Locations

### id ()

In [4]:
x = 3

print(id(x))               #print address of variable x

93892081305352

In [5]:
y = 3

print(id(y))               #print address of variable y

93892081305352

Observation:

x and y points to same memory location

In [3]:
y = 2
print(id(y))               #print address of variable y

1821789612368

### Type ()   --> which data type we were assigning dynamically it will provide

In [4]:
type(y)

int

# Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [ ]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

(5, ' is of type', <type 'int'>)

In [ ]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

(2.5, ' is of type', <type 'float'>)

In [ ]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

((1+2j), ' is complex number?')
True

# Boolean

 Boolean represents the truth values False and True

In [ ]:
a = True                          #a is a boolean type
print(type(a))

<type 'bool'>

# Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [5]:
word='INDIA'    ## single quote representation

In [ ]:
s = "This is Online AI course"  ### double quote representation
print(s)

This is Online AI course

In [ ]:

paragraph="""this is 
                paragraph"""     ## triple quote representation

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [ ]:
float(5)     #convert interger to float using float() method

5.0

In [ ]:
int(100.5)   #convert float to integer using int() method

100

In [ ]:
str(20)      #convert integer to string

'20'

Conversion to and from string must contain compatible values.

In [ ]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [ ]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, satish! You just wrote 100 lines of code

We can convert one sequence to other

In [ ]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<type 'list'>
<type 'set'>

In [ ]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']