# Python Input and Output

# Python Output

We use the print() function to output data to the standard output device

In [24]:
print()  # #print without any arguments  just it print new line charcter

In [1]:
print("Hello World")

Hello World

In [4]:
a = 10
print("The value of a is", a) #python 3

The value of a is 10

# Output Formatting

In [5]:
a = 10; b = 20 #multiple statements in single line.

print("The value of a is {} and b is {}".format(a, b))    #default

The value of a is 10 and b is 20

In [6]:
a = 10; b = 20  #multiple statements in single line

print("The value of b is {1} and a is {0}".format(a, b)) #specify position of arguments

The value of b is 20 and a is 10

In [7]:
#we can use keyword arguments to format the string
print("Hello {name}, {greeting}".format(name="Buddha", greeting="Good Morning"))

Hello Buddha, Good Morning

In [8]:
#we can combine positional arguments with keyword arguments
print('The story of {0}, {1}, and {other}'.format('Buddha', 'Reddy',
                                                       other='polepelli'))

The story of Buddha, Reddy, and polepelli

In [31]:
##print(formatted string)
#  %c ---- int
#  %d ---- int
#  %f----- float
#  %s------ string

In [32]:
name='buddha'
age=30
print("hello %s your age is %s "%(name,age))

hello buddha your age is 30

In [25]:
## defaultly output values seperated by space

In [26]:
## we want to change seperator space to other use sep

In [27]:
a,b,c=10,20,30
print(a,b,c,sep='::')

10::20::30

In [28]:
#print with end  arguments


print('hello')
print('python')

hello
python

In [29]:
print('hello',end='   ')
print('python')

hello   python

In [30]:
##print(string, varaibale list)
name='buddhareddy'
age=30
print("hello",name,"your age is   ",age)

hello buddhareddy your age is    30

# Python Input -- Reading data from Keyword

want to take the input from the user. In Python, we have the input() function to allow this.

In [10]:
num = input("Enter a number: ")
print(num)

Enter a number: 10
10

In [11]:
type(num)

str

### Note: Defaultly in python anything we take/input from user is of type String

# Type casting and conversion

In [12]:
## converting string type data into integer type by using casting function
n=int(input('enter number'))

enter number10

In [13]:
type(n)

int

In [16]:
# converting of data by using eval function
n=eval(input('enter Name'))

enter Name10

In [17]:
type(n)

int

# Eval Function -- it automatically understands the data type what we are entering for sting kind we have to provide either single or double or triple quotes

In [18]:
# converting of data by using eval function
n=eval(input('enter Number'))

enter Number10

In [19]:
type(n)

int

In [21]:
name=eval(input('enter Name'))

enter Name'Buddha'

In [22]:
type(name)

str

In [23]:
name=eval(input('enter Name'))

enter Namebuddha

NameError: name 'buddha' is not defined