# String Data Structures

In [ ]:
## a sequence of characters is called as string
## the data type called as str
## immutbale and mutable -->  immutbale means once we create we cant alter. mutbale we can alter
## string is immutable
## a string will allow duplicates(repeated charcters)
## forward and backward indexing is poosible. forward indexing start with 0 and  backward starts -1.
## string concatenation , multiplication it supports

# Creating Strings

In [6]:
## creating string using a single quote
subjectname='PYTHON'

In [7]:
type(subjectname)

str

In [8]:
print(subjectname)

PYTHON

In [12]:
## creating string using a double quote
subjectname="PYTHON"
print(subjectname)
type(subjectname)

PYTHON

str

In [16]:
s="python it's a progamming"
s

"python it's a progamming"

In [17]:
## creating string using a triple quote--->3 ssingle quotes / 3 double quotes
subj='''python is a language'''

In [18]:
subj
type(subj)

str

In [20]:
subj="""python is a language """
subj
##type(subj)

'python is a language '

In [ ]:
## using triple quotes for multi line comments

In [21]:
name="""hello i am 
trainer of python
from hyderabad"""
name

'hello i am \ntrainer of python\nfrom hyderabad'

In [24]:
c='10.5'
type(c)

str

In [23]:
c=10
type(str(c))

str

# indexing

In [25]:
a='python'

### forward indexing

In [26]:
## i want just p
a[0]

'p'

In [27]:
a[1]

'y'

In [28]:
a[2]

't'

In [29]:
a[3]

'h'

In [30]:
## i want n
a[5]

'n'

### Backward indexing

In [31]:
a

'python'

In [32]:
a[-1]

'n'

In [33]:
a[-3]

'h'

In [34]:
a[-6]

'p'

In [35]:
a[-7]

IndexError: string index out of range

# string slicing

In [36]:
a='python is a language'

In [ ]:
## syntax is varaiblename[starting index position:ending]

In [38]:
a[5]

'n'

In [40]:
## i want to print from variable a only python
a[0:6] ## ending position value need be +1

'python'

In [41]:
a[3:8]

'hon i'

In [42]:
a[8]

's'

In [45]:
a[15]

'g'

In [46]:
a[-10:15]

'a lan'

In [47]:
a[-10:3]

''

# string concatenation

In [48]:
## combine /connecting 
s='python'
b='language'

In [49]:
s+b

'pythonlanguage'

In [50]:
c=10
type(c)

int

In [52]:
## i want to add string with integer value  --> its not possible to add string with integer/float or any type except string .
## it possible only when we convert it into string type
s+str(c)

'python10'

# string multiplication

In [53]:
s='python'
## i want to print python 10 times

In [54]:
s*10

'pythonpythonpythonpythonpythonpythonpythonpythonpythonpython'

# string packing

In [57]:
a='python'
b='is'
c=' a language'

d=''.join([a,b,c])

In [58]:
d

'pythonis a language'

# string functions

In [59]:
##capitalize --> first letter of forst word in the given string converted to upper case
a='python developer'

In [60]:
a.capitalize()

'Python developer'

In [62]:
## upper --> all in upper case
a.upper()

'PYTHON DEVELOPER'

In [64]:
##lower
b=a.lower()

In [65]:
b

'python developer'

In [67]:
## i want to know in b all charcters are lower case
a.islower() ##--> if all are lower case True

True

In [68]:
a='Python'
a.islower()

False

In [69]:
##isupper --> will check whether all charcters are upper case . if yes prits TRUE else FALSE
b='PYTHON'
b.isupper()

True

In [70]:
## title --> each word starting letter is upper case 
a='python developer'
a.title()

'Python Developer'

In [71]:
## to find the length of a string 
len(a)

16

In [74]:
a[0:16]

'python developer'

In [75]:
a[16]

IndexError: string index out of range

In [76]:
## how many times a specifc charcter is avaible
a='python developer' ## i want to find occurances of 'o'
a.count('o')

2

In [79]:
a.count('r')

1

In [80]:
## find the index
a.index('o')

4

In [81]:
a[4]

'o'

In [82]:
a

'python developer'

In [86]:
## find > find the index postiobn of specific charcter
a.find('o',5)

12

In [87]:
a[12]

'o'

In [91]:
a='india is a country'

In [92]:
a.count('i')

3

In [93]:
a.find('i')

0

In [94]:
a.find('i',1)

3

In [95]:
a.find('i',4)

6

In [96]:
## lstrip --> removing charcters left
## rstrip --> removing charcters right

a='!!! python !!!!'
a.lstrip('!')

' python !!!!'

In [97]:
a.rstrip('!')

'!!! python '

In [99]:
## reversed --> we have to reverse 
a='python'
b=''.join(reversed(a))

In [100]:
b

'nohtyp'

In [101]:
## swapcase --> all capital into small and viceversa 
a='PyThOn'
a.swapcase()

'pYtHoN'

In [102]:
a='python'

In [103]:
a

'python'

In [104]:
a[0]='b' ## imuutable

TypeError: 'str' object does not support item assignment

In [2]:
## replace  -->replacing existed one with new one
str1='python learner'
str1

'python learner'

In [3]:
str2=str1.replace('learner','developer')

In [4]:
str2

'python developer'

In [5]:
## is it possibel to remove any charcter using replace
## i dont want developer word in str2
str2.replace('developer',' ')

'python  '

In [6]:
## del --> ## deleting permanently
str1='python developer'

In [7]:
str1

'python developer'

In [9]:
del str1[0]

TypeError: 'str' object doesn't support item deletion

In [11]:
str1[0:6]

'python'

In [12]:
del str1[0:6]

TypeError: 'str' object does not support item deletion

In [13]:
del str1

In [14]:
str1

NameError: name 'str1' is not defined

In [15]:
## using
##[start:end:step]
str1='python developer'

In [16]:
str1[::]

'python developer'

In [17]:
str1[1::2]

'yhndvlpr'

In [18]:
str1[1::]

'ython developer'

In [20]:
str1.find('d')

7

In [21]:
str1[7::4]

'dlr'

# list data structures

In [22]:
## collection of elements of type(homogenous(similar) ,heterogenous(disimilar))
## allows duplicates elements
## insertion is perserved
## unique index is available
## order sequence preserved
## forward and backward index possible
## mutable --> changeble

# creation of list

In [23]:
## list()
l=list([1,2,3]) ## homogenous

In [24]:
l

[1, 2, 3]

In [25]:
type(l)

list

In [26]:
l1=list([1,1.3,'python',True]) ## heterogenous

In [27]:
l1

[1, 1.3, 'python', True]

In [28]:
type(l1)

list

In [29]:
## using square brackets []
a=[1,2.3,True]

In [30]:
a

[1, 2.3, True]

In [31]:
type(a)

list

In [36]:
## creating a lost using range fucntion
## if you press shift and tab 
a=list(range(10))

In [37]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
type(a)

list

In [39]:
b=list(range(0,10,2))

In [40]:
b

[0, 2, 4, 6, 8]

In [41]:
c=list(range(-100,200))

In [42]:
c

[-100,
 -99,
 -98,
 -97,
 -96,
 -95,
 -94,
 -93,
 -92,
 -91,
 -90,
 -89,
 -88,
 -87,
 -86,
 -85,
 -84,
 -83,
 -82,
 -81,
 -80,
 -79,
 -78,
 -77,
 -76,
 -75,
 -74,
 -73,
 -72,
 -71,
 -70,
 -69,
 -68,
 -67,
 -66,
 -65,
 -64,
 -63,
 -62,
 -61,
 -60,
 -59,
 -58,
 -57,
 -56,
 -55,
 -54,
 -53,
 -52,
 -51,
 -50,
 -49,
 -48,
 -47,
 -46,
 -45,
 -44,
 -43,
 -42,
 -41,
 -40,
 -39,
 -38,
 -37,
 -36,
 -35,
 -34,
 -33,
 -32,
 -31,
 -30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199]

In [43]:
## creating a empty list
a=[]

In [44]:
a

[]

In [45]:
type(a)

list

In [46]:
## creting a  empty list by using list()
a=list()

In [47]:
a

[]

In [49]:
## range

b=list(range(0))

In [50]:
b

[]

# list indexing

In [58]:
list1=[10,20,30,'python',True,1.5,2+3j]

In [52]:
## print 30
list1[2]

30

In [60]:
## print 2+3j
list1[6]

(2+3j)

In [61]:
list1[-1]

(2+3j)

# slicing

In [62]:
list1[2:5]

[30, 'python', True]

In [63]:
## backward indexing start wutth 30 print all 
list1

[10, 20, 30, 'python', True, 1.5, (2+3j)]

In [65]:
list1[-5:]

[30, 'python', True, 1.5, (2+3j)]

In [66]:
list1[-5:-2]

[30, 'python', True]

In [67]:
list1[-5:5]

[30, 'python', True]

In [68]:
a=[1,2,3,1,2,3]

In [69]:
a

[1, 2, 3, 1, 2, 3]

In [70]:
type(a)

list

In [71]:
a[0]=20 ## mutable

In [72]:
a

[20, 2, 3, 1, 2, 3]

In [73]:
## list concatenation
a=[1,2,3]
b=['python','good']

In [74]:
a+b

[1, 2, 3, 'python', 'good']

In [75]:
## list reption
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list functions

In [81]:
## len()-- length of list
list1=[10,20,30,'python',True,1.5,2+3j]

In [82]:
len(list1)

7

In [83]:
list1[6]

(2+3j)

In [85]:
## count()  ---> no of occurances of a specfic characters
list1[6]=10

In [86]:
list1

[10, 20, 30, 'python', True, 1.5, 10]

In [87]:
list1.count(10)

2

In [88]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
list1.index(1.5)

5

In [89]:
list1[5]

1.5

In [90]:
## append() -- adds new elemnt at the end
list1.append(1+3j)

In [91]:
list1

[10, 20, 30, 'python', True, 1.5, 10, (1+3j)]

In [92]:
## multiple elements 

list1.append([0,1,2])

In [93]:
list1

[10, 20, 30, 'python', True, 1.5, 10, (1+3j), [0, 1, 2]]

In [94]:
list1[8]

[0, 1, 2]

In [95]:
list1[8][1]

1

In [97]:
## extend()--> at the end multiple elemnst u can add
list1.extend([70,80])

In [98]:
list1

[10, 20, 30, 'python', True, 1.5, 10, (1+3j), [0, 1, 2], 70, 80]

In [99]:
## append will create nested list ## extend will create mutiple elemnts

In [102]:
list1.index(1+3j)

7

In [103]:
## insert  -- at specific order
list1.insert(7,'developer')

In [104]:
list1

[10, 20, 30, 'python', True, 1.5, 10, 'developer', (1+3j), [0, 1, 2], 70, 80]

In [105]:
## remove( ) -- specific charcters

list1.remove(10)

In [106]:
list1

[20, 30, 'python', True, 1.5, 10, 'developer', (1+3j), [0, 1, 2], 70, 80]

In [107]:
# pop()  --> using index position
list1.pop(8)

[0, 1, 2]

In [108]:
## copy
a=list1.copy()

In [109]:
a

[20, 30, 'python', True, 1.5, 10, 'developer', (1+3j), 70, 80]

In [110]:
## reverse
a.reverse()

In [111]:
a

[80, 70, (1+3j), 'developer', 10, 1.5, True, 'python', 30, 20]

In [112]:
## clear() --removes all the elemens
a.clear()

In [113]:
a

[]

In [115]:
## maximum  --> heterogenous it wont work . works integers 
l=[10,20,50,30,15]

In [116]:
max(l)

50

In [117]:
## minimum()
min(l)

10

In [120]:
l.sort()

In [121]:
l

[10, 15, 20, 30, 50]

In [122]:
l.sort(reverse=True) ## descening order

In [123]:
l

[50, 30, 20, 15, 10]

In [124]:
a=l.copy()

In [125]:
a

[50, 30, 20, 15, 10]

In [126]:
## delete
del a

In [127]:
a

NameError: name 'a' is not defined

In [1]:
lst=[1,2,3,4,5]
sum(lst)

15

In [2]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# conversion from string to list

In [129]:
s='python developer'
type(s)

str

In [131]:
a=list(s)

In [132]:
type(a)

list

In [133]:
a

['p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'd',
 'e',
 'v',
 'e',
 'l',
 'o',
 'p',
 'e',
 'r']

# convert a list into string

In [135]:
b=''.join(a)

In [136]:
b

'python developer'

In [ ]:
## difference between remove and pop
clear and del
display existing list in desceding order
display existing list in reverse order
using slice perfrom reverse