# PYTHON COURSE

### Guido van Rossum devleloped Python scripting language at National Research institute  for mathematics  and  computer science in netherlands in 1989.

# Introduction

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. 
Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. 
Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. 
Python supports modules and packages, which encourages program modularity and code reuse. 
The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing.

## Anaconda Python Distribution
Anaconda is an open-source package manager, environment manager, and distribution of the Python and R programming languages. 
It is commonly used for large-scale data processing, scientific computing, and predictive analytics, serving data scientists, developers, business analysts, and those working in DevOps.

Anaconda offers a collection of over 720 open-source packages, and is available in both free and paid versions. 
The Anaconda distribution ships with the conda command-line utility. You can learn more about Anaconda and conda by reading the Anaconda Documentation pages.

### Why Anaconda?
* User level install of the version of python you want
* Able to install/update packages completely independent of system libraries or admin privileges
* conda tool installs binary packages, rather than requiring compile resources like pip - again, handy if you have limited privileges for installing necessary libraries.
* More or less eliminates the headaches of trying to figure out which version/release of package X is compatible with which version/release of package Y, both of which are required for the install of package Z
* Comes either in full-meal-deal version, with numpy, scipy, PyQt, spyder IDE, etc. or in minimal / alacarte version (miniconda) where you can install what you want, when you need it
* No risk of messing up required system libraries

## Installing on Windows

1. [Download the Anaconda installer](https://www.continuum.io/downloads).

2. Optional: Verify data integrity with MD5 or SHA-256. More info on hashes

3. Double click the installer to launch.

  NOTE: If you encounter any issues during installation, temporarily disable your anti-virus software during install, then re-enable it after the installation concludes. If you have installed for all users, uninstall Anaconda and re-install it for your user only and try again.

4. Click Next.

5. Read the licensing terms and click I Agree.

6. Select an install for “Just Me” unless you’re installing for all users (which requires Windows Administrator privileges).

7. Select a destination folder to install Anaconda and click Next.

  NOTE: Install Anaconda to a directory path that does not contain spaces or unicode characters.

  NOTE: Do not install as Administrator unless admin privileges are required.

8. Choose whether to add Anaconda to your PATH environment variable. We recommend not adding Anaconda to the PATH environment variable, since this can interfere with other software. Instead, use Anaconda software by opening Anaconda Navigator or the Anaconda Command Prompt from the Start Menu.

9. Choose whether to register Anaconda as your default Python 3.6. Unless you plan on installing and running multiple versions of Anaconda, or multiple versions of Python, you should accept the default and leave this box checked.

10. Click Install. You can click Show Details if you want to see all the packages Anaconda is installing.

11. Click Next.

12. After a successful installation you will see the “Thanks for installing Anaconda” image:
 
 
13. You can leave the boxes checked “Learn more about Anaconda Cloud” and “Learn more about Anaconda Support” if you wish to read more about this cloud package management service and Anaconda support. Click Finish.

14. After your install is complete, verify it by opening Anaconda Navigator, a program that is included with Anaconda. From your Windows Start menu, select the shortcut Anaconda Navigator. If Navigator opens, you have successfully installed Anaconda.

## Installing on macOS
1. Download the [graphical macOS installer](https://www.continuum.io/downloads#macos) for your version of Python.

2. OPTIONAL: Verify data integrity with MD5 or SHA-256. For more information on hashes, see What about cryptographic hash verification?.

3. Double-click the .pkg file.

4. Answer the prompts on the Introduction, Read Me and License screens.

5. On the Destination Select screen, select Install for me only.

 NOTE: If you get the error message “You cannot install Anaconda in this location,” reselect Install for me only.


6. On the Installation Type screen, you may choose to install in another location. The standard install puts Anaconda in your home user directory:
 

7. Click the Install button.

8. A successful installation displays the following screen:

## Installing on Linux

1. In your browser, download the Anaconda installer for Linux.

2. Optional: Verify data integrity with MD5 or SHA-256. (For more information on hashes, see cryptographic hash validation.)

    Run the following:

    __md5sum /path/filename__
    OR:

    __sha256sum /path/filename__
3. Verify results against the proper hash page to make sure the hashes match.

4. Enter the following to install Anaconda for Python 3.6:

 __bash ~/Downloads/Anaconda3-4.4.0-Linux-x86_64.sh__
 OR

 Enter the following to install Anaconda for Python 2.7:

 __bash ~/Downloads/Anaconda2-4.4.0-Linux-x86_64.sh__
 NOTE: You should include the bash command regardless of whether you are using Bash shell.

 NOTE: Replace actual download path and filename as necessary.

 NOTE: Install Anaconda as a user unless root privileges are required.

5. The installer prompts “In order to continue the installation process, please review the license agreement.” Click Enter to view license terms.

6. Scroll to the bottom of the license terms and enter yes to agree to them.

7. The installer prompts you to click Enter to accept the default install location, press CTRL-C to cancel the installation, or specify an alternate installation directory. If you accept the default install location, the installer displays __'PREFIX=/home/"user"/anaconda"2 or 3"' and continues the installation. It may take a few minutes to complete.__

   The installer prompts “Do you wish the installer to prepend the Anaconda"2 or 3" install location to PATH in your /home/"user"/.bashrc ?” We recommend yes.

 NOTE: If you enter “no”, you will need to manually specify the path to Anaconda when using Anaconda. To manually add the prepended path, edit file .bashrc to add ~/anaconda"2 or 3"/bin to your path manually using:

8. __export PATH="/home/"user"/anaconda"2 or 3"/bin:$PATH"__
 Replace /home/"user"/anaconda"2 or 3" with the actual path.

9. The installer finishes and displays “Thank you for installing Anaconda"2 or 3"!”

10. Close and open your terminal window for the installation to take effect, or you can enter the command source ~/.bashrc.

  Enter conda list. If the installation was successful, the terminal window should display a list of installed Anaconda packages.

  NOTE: Power8 users: Navigate to your Anaconda directory and run this command:

 __conda install libgfortran__

## What are jupyter notebook

The notebook is a web application that allows you to combine explanatory text, math equations, code, and visualizations all in one easily sharable document.

Notebooks have quickly become an essential tool when working with data. You'll find them being used for data cleaning and exploration, visualization, machine learning, and big data analysis. Typically you'd be doing this work in a terminal, either the normal Python shell or with IPython. Your visualizations would be in separate windows, any documentation would be in separate documents, along with various scripts for functions and classes. However, with notebooks, all of these are in one place and easily read together.

## how note book works
Jupyter notebooks grew out of the IPython project started by Fernando Perez. IPython is an interactive shell, similar to the normal Python shell but with great features like syntax highlighting and code completion. Originally, notebooks worked by sending messages from the web app (the notebook you see in the browser) to an IPython kernel (an IPython application running in the background). The kernel executed the code, then sent it back to the notebook. The current architecture is similar, drawn out below.



The central point is the notebook server. You connect to the server through your browser and the notebook is rendered as a web app. Code you write in the web app is sent through the server to the kernel. The kernel runs the code and sends it back to the server, then any output is rendered back in the browser. When you save the notebook, it is written to the server as a JSON file with a .ipynb file extension.

The great part of this architecture is that the kernel doesn't need to run Python. Since the notebook and the kernel are separate, code in any language can be sent between them. For example, two of the earlier non-Python kernels were for the R and Julia languages. With an R kernel, code written in R will be sent to the R kernel where it is executed, exactly the same as Python code running on a Python kernel. IPython notebooks were renamed because notebooks became language agnostic. The new name Jupyter comes from the combination of Julia, Python, and R. If you're interested, here's a list of available kernels.

Another benefit is that the server can be run anywhere and accessed via the internet. Typically you'll be running the server on your own machine where all your data and notebook files are stored. But, you could also set up a server on a remote machine or cloud instance like Amazon's EC2. Then, you can access the notebooks in your browser from anywhere in the world.

## installing jupyter notebook

By far the easiest way to install Jupyter is with Anaconda. Jupyter notebooks automatically come with the distribution. You'll be able to use notebooks from the default environment.

To install Jupyter notebooks in a conda environment, use __conda install jupyter notebook__.

Jupyter notebooks are also available through pip with __pip install jupyter notebook__.

## Basics of Python

Python is a high-level, dynamically typed multiparadigm programming language. 
Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

# -------------------------------------------------------------------------------------------------------------

In [1]:
10+20

30

In [2]:
20-10

10

In [5]:
pwd   #to see current working directory

'C:\\Users\\Budda Reddy'

# Python Variables

In [3]:
### variables should not start with digit but it can contain digit.

# Assigning values to variable

In [ ]:
#assigning a single value

In [4]:
ab12=200

In [2]:
12ab=100   ## here we use varaible starting charcter is number --> it throws an error

SyntaxError: invalid syntax (<ipython-input-2-3fde3b11b179>, line 2)

In [5]:
## contains underscore(single,souble,triple)
_total=10

In [6]:
to_tal=10  ## use underscore anywhere

In [7]:
##must not contain special characters
to@tal=200   ## syntax error beacuse @

SyntaxError: can't assign to operator (<ipython-input-7-589b019c0da0>, line 2)

In [8]:
total!=10    ##

NameError: name 'total' is not defined

In [5]:
## multiple values
a,b,c=10,10.5,'reddy'

In [ ]:
## assigning same value to multiple varibales
x=y=z=10
print(x)
print(y)
print(z)

In [14]:
## keywords or reserve words cant be used 
if=100

SyntaxError: invalid syntax (<ipython-input-14-ae266311793b>, line 2)

In [15]:
return='python'

SyntaxError: invalid syntax (<ipython-input-15-06766b15f52b>, line 1)

# Basic Functions --> Print() , Type(), id()

In [6]:
#print is used for to show output on the screen
a=10
print(a)

10

In [8]:
# type is used for data type / structure stored in the variables
type(a)

int

In [9]:
# id is used for address location of a variable stroed
id(a)

140709686487104

In [13]:
## case senstive 
a=200
A=100
print(a)
print(A)
var='python'
print(var)

200
100
python

# keywords

In [18]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# multi line statemnts

In [19]:
## continutaion character (\)
itemone=1
itemtwo=2
total=itemone+\
   itemtwo

In [20]:
##stmts contain with in the   [  ]     {   }    (   )
days=['mon','tue']

# Quotations or string representation types -- Single, double, triple

In [24]:
## comments in python   hash sign (#)

In [10]:
## single quote representation
word='INDIA'

In [22]:
## double quote representation
sentence="this is sentence"

In [23]:
## triple quote representation
paragraph="""this is 
                paragraph"""

# indentation

In [ ]:
if True:
    print("TRUE condition")
else:
    print("false condition")

# Dynamic Typing

In Python, while the value that a variable points to has a type, the variable itself has no strict type in its definition. You can re-use the same variable to point to an object of a different type. It may be helpful to think of variables as "labels" associated with objects.

In [1]:
ten = 10
ten

10

In [2]:
ten = 'ten'
ten

'ten'

#### Strong Typing

While Python allows you to be very flexible with your types, you must still be aware of what those types are. Certain operations will require certain types as arguments.

In [3]:
'Day ' +str(1)

'Day 1'

# multi line stmt

In [1]:

sum=10
a=20
b=30
total= sum+ a +\
b
total

60

In [36]:
print('ten',x)

ten 10

# first python program

In [37]:
x=10
y=20
sum=x+y
print(sum)

30

# Reading data from key board

In [38]:
n=input('enter number')

enter number10

In [39]:
print(n)

10

In [40]:
type(n)

str

In [41]:
## converting type data by using casting function
n=int(input('enter number'))

enter number15

In [42]:
type(n)

int

In [43]:
# converting of data by using eval function
n=eval(input('enter number'))

enter number20

In [44]:
type(n)

int

### assignment  :read student name and marks from keyboard and print the data

### how to read multiple values from the keyboard in a single line

In [45]:
a,b=[int(x) for x in input('eneter 2 numbers').split()]

eneter 2 numbers10 20

In [46]:
a

10

In [47]:
b

20

In [48]:
##split function takes space as seperator  but we can pass any thing as sepertaor in single quotes

In [49]:
a,b=[int(x) for x in input('eneter 2 numbers').split(':')]

eneter 2 numbers10:20

In [50]:
a

10

In [51]:
b

20

In [52]:
x=eval("10+20+30")

In [53]:
print(x)

60

In [54]:
x=eval(input('enter expression'))  ##10+2*3/4

enter expression10+2*3/4

In [55]:
x

11.5

# output statements

In [56]:
#print without any arguments  just it print new line charcter
print()

In [57]:
print('hai')
print("hello"+"world")    
print("hello","world")

hai
helloworld
hello world

In [59]:
#print with varibale number of  arguments

a,b,c=10,20,30
print("the values are:",a,b,c)

the values are: 10 20 30

In [60]:
## defaultly output values seperated by space

In [61]:
## we want to change seperator space to other use sep

In [62]:
a,b,c=10,20,30

In [63]:
print(a,b,c,sep='::')

10::20::30

In [64]:
#print with end  arguments


print('hello')
print('python')

hello
python

In [66]:
print('hello',end='   ')
print('python')

hello   python

In [67]:
## print object(list,tuple,set) statemnts
l=[10,20,30]
t=(10,40)
print(l)
print(t)

[10, 20, 30]
(10, 40)

In [68]:
##print(string, varaibale list)
name='buddhareddy'
age=30
print("hello",name,"your age is   ",age)

hello buddhareddy your age is    30

In [ ]:
##print(formatted string)
#  %c ---- int
#  %d ---- int
#  %f----- float
#  %s------ string

In [73]:
name='buddha'
age=30
print("hello %s your age is %s "%(name,age))

hello buddha your age is 30

In [71]:
##print with replacemmet operator

name='buddhareddy'
salary=600000
print("hello{0} salary{1}".format(name,salary))

hellobuddhareddy salary600000

# Data Types

In [75]:
##int
a=10

In [76]:
print(a)

10

In [77]:
type(a)

int

In [78]:
id(a)

140710530425520

In [79]:
##float
b=10.5
print(b)

10.5

In [80]:
type(b)

float

In [81]:
##string
c='buddhareddy'
print(c)

buddhareddy

In [82]:
type(c)

str

In [83]:
typ

True

In [84]:
type(d)

bool

In [85]:
##complex
e=3+4j
print(e)

(3+4j)

In [86]:
type(e)

complex

In [87]:
## type conversion 
## type casting functions :  convert string data into required types
## eval functions  : convert the data type into required type

In [ ]:
a=input("enter value")

In [ ]:
a

# Composite data types/ data structures/ collections

##  String    List   Tuple   Set    Dictionary

# String Data Structure

In [88]:
## insertion order is preserved
## immutable
## allows duplicates
## every charcter in string object is represented with unique index
## python suports forward(0) and backward indexing(-1)
## python string supports both concatenation & multiple concatenation
## create string using single or double or triple quotes

In [89]:
## creating a string with single quote
name='buddha reddy'
print(name)

buddha reddy

In [90]:
## creating a string with double quote
name="buddha reddy"
print(name)

buddha reddy

In [91]:
## creating a string with triple single quote
name='''buddha reddy'''
print(name)

buddha reddy

In [93]:
## creating a string with triple double quote
name="""buddha 
reddy"""
print(name)

buddha
reddy

In [3]:
#creating a string with single quotes using \
name='buddhareddy\'s kingdom' 
name

"buddhareddy 's kingdom"

In [95]:
## Accessing elements in a string

In [96]:
## index error indicates if out of range value
## type error  indicates if index is non interger

In [97]:
name="buddha reddy"

In [98]:
print(name)

buddha reddy

In [99]:
id(name)

2875103926128

In [100]:
type(name)

str

# String indexing

In [106]:
## forward index

print(name[0])

print(name[1])

print(name[2])

print(name[3])

print(name[4])

print(name[5])

print(name[6])

print(name[7])

print(name[8])

print(name[9])

print(name[10])

print(name[11])

b
u
d
d
h
a

r
e
d
d
y

In [105]:
len(name)

12

In [108]:
## backward indexing
print(name[-1])

print(name[-2])

print(name[-3])

print(name[-4])

print(name[-5])

print(name[-6])

print(name[-7])

print(name[-8])

print(name[-9])

print(name[-10])

print(name[-11])

print(name[-12])

y
d
d
e
r

a
h
d
d
u
b

In [1]:
## string slicing

In [2]:
## we can access a range of characters uisng string.
## operator is colon (:)
a='buddha reddy'
print(a[0:1])

b

In [5]:
print(a[0:2])
print(a[0:3])
print(a[0:4])
print(a[0:5])
print(a[1:2])
print(a[1:11])
print(a[-8:0])
print(a[-8:-3])
print(a[-5:4])

bu
bud
budd
buddh
u
uddha redd

ha re

In [6]:
## string  concatenation               +

string1='buddha'
string2='reddy'
print(string1+string2)

buddhareddy

In [7]:
## string multiplication   -- mutliplying / repeating string into n number of times
print(string2*3)

reddyreddyreddy

In [8]:
## string is immutable
print(string1)

buddha

In [9]:
id(string1)

1343154478576

In [10]:
string1=string1+'buddha'  ## altering

In [11]:
print(string1)

buddhabuddha

In [12]:
id(string1)

1343154501552

In [14]:
## string packing---- combing
a='buddha'
b='reddy'
c='polepelli'
packing=''.join([a,b,c])
print(packing)

buddhareddypolepelli

In [15]:
type(packing)

str

In [17]:
## string unpacking   ---  extracting charcters 
str='python'
print(str)
type(str)
id(str)

python

1343122756848

# string functions

In [18]:
## captialize

str='buddha reddy'
str.capitalize()

'Buddha reddy'

In [19]:
## title

str.title()

'Buddha Reddy'

In [20]:
## is lower    ## all are lower case returns true

str.islower()

True

In [28]:
## is upper

str.isupper()

False

In [24]:
## lower   
str.lower()

'buddha reddy'

In [25]:
# upper
str.upper()

'BUDDHA REDDY'

In [27]:
## length 

len(str)

12

In [29]:
## count -- number of occurances

str.count('d')

4

In [30]:
## find   -- index position of specific charcter

str.find('d')  ## first occurance

2

In [31]:
str.find('d',4)## after 4th index next occurnace

9

In [32]:
## split --- splits the given strings into multiple strings
str.split() ## delimeter is space

['buddha', 'reddy']

In [33]:
## lstrip()  -- removes specifc special character to left side of given string 
str.lstrip()

'buddha reddy'

In [35]:
str='!!! buddha reddy !!!'
str.lstrip('!')

' buddha reddy !!!'

In [ ]:
## same rstrip 

## try strip

In [36]:
##swapcase -- converts lower to upper and upper to lower

str='ReDdY'

str.swapcase()

'rEdDy'

In [39]:
## replace

str.replace('Y','i')  ## here u can give string also

'ReDdi'

In [41]:
## del command  -- we cant delete specific character/range

## we can delete entire string object permanently 

str='buddha'

In [42]:
del.str[0]

SyntaxError: invalid syntax (<ipython-input-42-e2759e445844>, line 1)

In [43]:
del.str[0:2]

SyntaxError: invalid syntax (<ipython-input-43-b4ff8fa3b718>, line 1)

In [47]:
del str

In [48]:
print(str)

<class 'str'>

In [49]:
## how to display given string in ascending order

string='python'

In [50]:
''.join(sorted(string))

'hnopty'

In [51]:
#### how to display given string in descending order

''.join(reversed(sorted(string)))

'ytponh'

In [52]:
## how to display the givenn string with three dots between each charcter 

s10='...'.join(string)

In [53]:
s10

'p...y...t...h...o...n'

In [54]:
## how to display the given string with space between each charcter

string

'python'

In [56]:
'  '.join(string)

'p  y  t  h  o  n'

In [58]:
## how to get buddha from string 'buddha reddy'

string='buddha reddy'
string.replace('reddy',' ')

'buddha  '

In [60]:
string.split('r')[0]

'buddha '

In [61]:
string[0:6]

'buddha'

In [62]:
## using 

str='buddha reddy'

str[::]

'buddha reddy'

In [63]:
str[0::]

'buddha reddy'

In [64]:
str[1::]

'uddha reddy'

In [66]:
str[11::]

'y'

In [67]:
str[0::5]

'bad'

In [68]:
str[1::0] ##slice step cant be zero

ValueError: slice step cannot be zero

In [69]:
str[0::-1]

'b'

In [71]:
## string comparision will discuss in if condition
str='a'
st='b'

if str>st:
    print(str,'is bigger than',st)
    
elif st>str:
    print(st,' is bigger than',str)
    
else:
    print('both',str, ' and ' ,st ,' are equal')

b  is bigger than a

# list data structure

In [72]:
## collection of elements
## homogenous or hetero genous
## allow duplicates
## insertion order preserved
## elements seperted by comma and closed in square brackets []
## each element has unique index
## forward and backward index works
## list is mutable

In [73]:
## create list in different wasy
## list function or  square brackets or range()

In [74]:
## cerating list by using []

In [75]:
s=[]

In [76]:
s

[]

In [78]:
type(s)

list

In [79]:
s1=[1,2,3]   ## homogenous

In [80]:
type(s1)

list

In [81]:
s2=[1,2,'reddy',13+2j]  ## hetergneous

In [82]:
s2

[1, 2, 'reddy', (13+2j)]

In [83]:
## using list function 

s=list()

In [84]:
s

[]

In [85]:
s1=list([1,2,'a'])

In [86]:
s1

[1, 2, 'a']

In [87]:
s1=list('reddy')

In [88]:
s1

['r', 'e', 'd', 'd', 'y']

In [6]:
## creating a list by using range fucntion

In [17]:
## syntax: range(starting value, last value,range value)
## default starting value 0 
## defacult range valeu is 1

TypeError: 'list' object is not callable

In [18]:
list1=list(range(10))

TypeError: 'list' object is not callable

In [8]:
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
type(list)

list

In [15]:
list(range(2,10))

TypeError: 'list' object is not callable

In [1]:
list(range(-4,4))

[-4, -3, -2, -1, 0, 1, 2, 3]

In [2]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [ ]:
##creating a list using ssplit function

In [4]:
str='python is  very easy and simple language'

In [5]:
lst=str.split()

In [6]:
lst

['python', 'is', 'very', 'easy', 'and', 'simple', 'language']

In [7]:
## creating an empty list

In [8]:
## using []
lst=[]
print(lst)

[]

In [9]:
##using list()

lst=list()
print(lst)

[]

In [14]:
## using range

lst=list(range(0))

In [15]:
lst

[]

In [17]:
type(lst)

list

In [18]:
## list indexing
list1=[10,20,30,'python',True,False,1.5,2+3j]

In [19]:
print(list1[0])

print(list1[1])

print(list1[-1])

print(list1[5])

print(list1[-5])

10
20
(2+3j)
False
python

In [21]:
## list slicing 

print(list1[0:2])

print(list1[2:5])

print(list1[2:])

print(list1[2:-1])

print(list1[-4:5])

print(list1[-4:])

print(list1[-5:])

print(list1[-5:-1])

[10, 20]
[30, 'python', True]
[30, 'python', True, False, 1.5, (2+3j)]
[30, 'python', True, False, 1.5]
[True]
[True, False, 1.5, (2+3j)]
['python', True, False, 1.5, (2+3j)]
['python', True, False, 1.5]

In [22]:
list1

[10, 20, 30, 'python', True, False, 1.5, (2+3j)]

In [23]:
list1[0]=40  ## mutabale nature we can alter or replace

In [29]:
list1

[40, 20, 30, 'python', True, False, 1.5, (2+3j), 40]

In [30]:
## list concatenation

list1=[10,'python',5.5]

list2=[20,30,'buddhareddy',3+4j]

In [31]:
print(list1)

print(list2)

[10, 'python', 5.5]
[20, 30, 'buddhareddy', (3+4j)]

In [32]:
list3=list1+list2

In [33]:
print(list3)

[10, 'python', 5.5, 20, 30, 'buddhareddy', (3+4j)]

In [34]:
## list multiplication  or repetition
l=[10,'python',3+2j]

l1=l*3

In [35]:
l1

[10, 'python', (3+2j), 10, 'python', (3+2j), 10, 'python', (3+2j)]

# list functions

In [42]:
## len() ---- counts number of elements

list1=[10,20,'python',30,True,10]

len(list1)

6

In [39]:
## count()  --- number of occurances

list1.count(10)

2

In [44]:
## index()

list1.index(10,4)

5

In [ ]:
## append()

In [46]:
list1.append(40)

In [47]:
list1

[10, 20, 'python', 30, True, 10, 40]

In [48]:
list1.append([10,20,30])

In [49]:
list1

[10, 20, 'python', 30, True, 10, 40, [10, 20, 30]]

In [50]:
## extend()     --  adds multiple elements at the end of the existing list

list1.extend([70,80,90])

In [51]:
list1

[10, 20, 'python', 30, True, 10, 40, [10, 20, 30], 70, 80, 90]

In [52]:
## difference between append()  and extend

In [53]:
## insert

list1.insert(0,1)

In [54]:
list1

[1, 10, 20, 'python', 30, True, 10, 40, [10, 20, 30], 70, 80, 90]

In [55]:
list1.insert(0,[10,20,30])

In [56]:
list1

[[10, 20, 30], 1, 10, 20, 'python', 30, True, 10, 40, [10, 20, 30], 70, 80, 90]

In [57]:
## remove()  -- removes specific element

list1.remove(10)

In [58]:
list1

[[10, 20, 30], 1, 20, 'python', 30, True, 10, 40, [10, 20, 30], 70, 80, 90]

In [59]:
## pop()   -- based on index position

list1.pop(0)

[10, 20, 30]

In [60]:
list1

[1, 20, 'python', 30, True, 10, 40, [10, 20, 30], 70, 80, 90]

In [61]:
## reverse()

list1.reverse()

In [62]:
list1

[90, 80, 70, [10, 20, 30], 40, 10, True, 30, 'python', 20, 1]

In [63]:
## copy

x=list1.copy()

print(list1)

print(x)

[90, 80, 70, [10, 20, 30], 40, 10, True, 30, 'python', 20, 1]
[90, 80, 70, [10, 20, 30], 40, 10, True, 30, 'python', 20, 1]

In [64]:
## clear  -- removes all the elements

list1.clear()

In [65]:
list1

[]

In [71]:
## max()
y=[10,20,30]

max(y)

30

In [72]:
## min()

min(y)

10

In [73]:
## sort()

y.sort()
print(y)

[10, 20, 30]

In [74]:
y.sort(reverse=True)

In [75]:
print(y)

[30, 20, 10]

In [76]:
## del command

del y[0]

In [77]:
y

[20, 10]

In [79]:
del y   ##remove entire list object permanently

NameError: name 'y' is not defined

In [80]:
## difference between remove and pop

## clear and delete

## how to display the existibg list in ascending order l=[10,20,11,12,15]

NameError: name 'y' is not defined

## working with index method on  nested list

In [4]:
list1=[10,'python',5.8]
list2=[20,30,'buddha',3+4j]

In [5]:
nestlist=[list1,list2]

In [6]:
print(nestlist)

[[10, 'python', 5.8], [20, 30, 'buddha', (3+4j)]]

In [7]:
nestlist.index([10, 'python', 5.8])

0

In [8]:
nestlist[0].index(10)

0

# conversions

In [9]:
## converting a string into a list

In [ ]:
##130