# Guido van Rossum devleloped Python scripting language at 
# National Research institute  for mathematics  and  computer science in netherlands in 1989.

# introduction

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing.

## Anaconda Python Distribution
Anaconda is an open-source package manager, environment manager, and distribution of the Python and R programming languages. It is commonly used for large-scale data processing, scientific computing, and predictive analytics, serving data scientists, developers, business analysts, and those working in DevOps.

Anaconda offers a collection of over 720 open-source packages, and is available in both free and paid versions. The Anaconda distribution ships with the conda command-line utility. You can learn more about Anaconda and conda by reading the Anaconda Documentation pages.

### Why Anaconda?
* User level install of the version of python you want
* Able to install/update packages completely independent of system libraries or admin privileges
* conda tool installs binary packages, rather than requiring compile resources like pip - again, handy if you have limited privileges for installing necessary libraries.
* More or less eliminates the headaches of trying to figure out which version/release of package X is compatible with which version/release of package Y, both of which are required for the install of package Z
* Comes either in full-meal-deal version, with numpy, scipy, PyQt, spyder IDE, etc. or in minimal / alacarte version (miniconda) where you can install what you want, when you need it
* No risk of messing up required system libraries

## Installing on Windows

1. [Download the Anaconda installer](https://www.continuum.io/downloads).

2. Optional: Verify data integrity with MD5 or SHA-256. More info on hashes

3. Double click the installer to launch.

  NOTE: If you encounter any issues during installation, temporarily disable your anti-virus software during install, then re-enable it after the installation concludes. If you have installed for all users, uninstall Anaconda and re-install it for your user only and try again.

4. Click Next.

5. Read the licensing terms and click I Agree.

6. Select an install for “Just Me” unless you’re installing for all users (which requires Windows Administrator privileges).

7. Select a destination folder to install Anaconda and click Next.

  NOTE: Install Anaconda to a directory path that does not contain spaces or unicode characters.

  NOTE: Do not install as Administrator unless admin privileges are required.

8. Choose whether to add Anaconda to your PATH environment variable. We recommend not adding Anaconda to the PATH environment variable, since this can interfere with other software. Instead, use Anaconda software by opening Anaconda Navigator or the Anaconda Command Prompt from the Start Menu.

9. Choose whether to register Anaconda as your default Python 3.6. Unless you plan on installing and running multiple versions of Anaconda, or multiple versions of Python, you should accept the default and leave this box checked.

10. Click Install. You can click Show Details if you want to see all the packages Anaconda is installing.

11. Click Next.

12. After a successful installation you will see the “Thanks for installing Anaconda” image:
 
 
13. You can leave the boxes checked “Learn more about Anaconda Cloud” and “Learn more about Anaconda Support” if you wish to read more about this cloud package management service and Anaconda support. Click Finish.

14. After your install is complete, verify it by opening Anaconda Navigator, a program that is included with Anaconda. From your Windows Start menu, select the shortcut Anaconda Navigator. If Navigator opens, you have successfully installed Anaconda.

## Installing on macOS
1. Download the [graphical macOS installer](https://www.continuum.io/downloads#macos) for your version of Python.

2. OPTIONAL: Verify data integrity with MD5 or SHA-256. For more information on hashes, see What about cryptographic hash verification?.

3. Double-click the .pkg file.

4. Answer the prompts on the Introduction, Read Me and License screens.

5. On the Destination Select screen, select Install for me only.

 NOTE: If you get the error message “You cannot install Anaconda in this location,” reselect Install for me only.


6. On the Installation Type screen, you may choose to install in another location. The standard install puts Anaconda in your home user directory:
 

7. Click the Install button.

8. A successful installation displays the following screen:

## Installing on Linux

1. In your browser, download the Anaconda installer for Linux.

2. Optional: Verify data integrity with MD5 or SHA-256. (For more information on hashes, see cryptographic hash validation.)

    Run the following:

    __md5sum /path/filename__
    OR:

    __sha256sum /path/filename__
3. Verify results against the proper hash page to make sure the hashes match.

4. Enter the following to install Anaconda for Python 3.6:

 __bash ~/Downloads/Anaconda3-4.4.0-Linux-x86_64.sh__
 OR

 Enter the following to install Anaconda for Python 2.7:

 __bash ~/Downloads/Anaconda2-4.4.0-Linux-x86_64.sh__
 NOTE: You should include the bash command regardless of whether you are using Bash shell.

 NOTE: Replace actual download path and filename as necessary.

 NOTE: Install Anaconda as a user unless root privileges are required.

5. The installer prompts “In order to continue the installation process, please review the license agreement.” Click Enter to view license terms.

6. Scroll to the bottom of the license terms and enter yes to agree to them.

7. The installer prompts you to click Enter to accept the default install location, press CTRL-C to cancel the installation, or specify an alternate installation directory. If you accept the default install location, the installer displays __'PREFIX=/home/"user"/anaconda"2 or 3"' and continues the installation. It may take a few minutes to complete.__

   The installer prompts “Do you wish the installer to prepend the Anaconda"2 or 3" install location to PATH in your /home/"user"/.bashrc ?” We recommend yes.

 NOTE: If you enter “no”, you will need to manually specify the path to Anaconda when using Anaconda. To manually add the prepended path, edit file .bashrc to add ~/anaconda"2 or 3"/bin to your path manually using:

8. __export PATH="/home/"user"/anaconda"2 or 3"/bin:$PATH"__
 Replace /home/"user"/anaconda"2 or 3" with the actual path.

9. The installer finishes and displays “Thank you for installing Anaconda"2 or 3"!”

10. Close and open your terminal window for the installation to take effect, or you can enter the command source ~/.bashrc.

  Enter conda list. If the installation was successful, the terminal window should display a list of installed Anaconda packages.

  NOTE: Power8 users: Navigate to your Anaconda directory and run this command:

 __conda install libgfortran__

## what are jupyter notebook

The notebook is a web application that allows you to combine explanatory text, math equations, code, and visualizations all in one easily sharable document.

Notebooks have quickly become an essential tool when working with data. You'll find them being used for data cleaning and exploration, visualization, machine learning, and big data analysis. Typically you'd be doing this work in a terminal, either the normal Python shell or with IPython. Your visualizations would be in separate windows, any documentation would be in separate documents, along with various scripts for functions and classes. However, with notebooks, all of these are in one place and easily read together.

Notebooks are also rendered automatically on GitHub. It’s a great feature that lets you easily share your work. There is also [http://nbviewer.jupyter.org/](http://nbviewer.jupyter.org/) that renders the notebooks from your GitHub repo or from notebooks stored elsewhere.

## installing jupyter notebook

By far the easiest way to install Jupyter is with Anaconda. Jupyter notebooks automatically come with the distribution. You'll be able to use notebooks from the default environment.

To install Jupyter notebooks in a conda environment, use __conda install jupyter notebook__.

Jupyter notebooks are also available through pip with __pip install jupyter notebook__.

## Basics of python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

# -------------------------------------------------------------------------------------------------------------

In [ ]:
10+20

In [ ]:
pwd   #to see current working directory

# python identifiers

identifiers should not start with digit but it can contain digit

In [ ]:
12ab=100   ## error

In [ ]:
ab12=200

In [ ]:
## contains underscore(single,souble,triple)

In [ ]:
_total=10

In [ ]:
to_tal=10  ## use underscore anywhere

In [ ]:
## identifers must not contain special characters
to@tal=200   ## syntax error beacuse @

In [ ]:
total!=10    ##

In [ ]:
!total=10

In [ ]:
total*=10

In [ ]:
&total=10

In [ ]:
total%=200

In [ ]:
## case senstive 
a=200
A=100
print(a)
print(A)
var='python'
print(var)

In [ ]:
## keywords or reserve words cant be used 
if=100

In [ ]:
return='python'

In [ ]:
def='dev'

In [ ]:
del=2

# keywords

In [ ]:
import keyword
keyword.kwlist

# multi line statemnts

In [ ]:
## continutaion character (\)
itemone=1
itemtwo=2
total=itemone+\
   itemtwo

In [ ]:
##stmts contain with in the   [  ]     {   }    (   )
days=['mon','tue']

# quotations

In [ ]:
## single, double, triple

word='word'

In [ ]:
sentence="this is sentence"

In [ ]:
paragraph="""this is 
                paragraph"""

In [ ]:
## comments in python   hash sign (#)

# indentation

In [ ]:
if True:
    print("TRUE condition")
else:
    print("false condition")

# Dynamic Typing

In Python, while the value that a variable points to has a type, the variable itself has no strict type in its definition. You can re-use the same variable to point to an object of a different type. It may be helpful to think of variables as "labels" associated with objects.

In [ ]:
ten = 10
ten

In [ ]:
ten = 'ten'
ten

#### Strong Typing

While Python allows you to be very flexible with your types, you must still be aware of what those types are. Certain operations will require certain types as arguments.

In [ ]:
'Day ' +str(1)

# multi line stmt


sum=10
a=20
b=30
total= sum+ a +\
b
total

# basic functions

In [ ]:
a=10
print(a)   ## output on the screen

In [ ]:
type(a)   ## data type

In [ ]:
id(a)   ## address

# assigning values to variable

In [ ]:
## singl value

m=10
print(m)
type(m)
id(m)

In [ ]:
n=20.4
print(n)
type(n)
id(n)

In [ ]:
r='buddhareddy'
print(r)
type(r)
id(r)

In [ ]:
## multiple values
a,b,c=10,10.5,'reddy'

In [ ]:
print(a)
type(a)
id(a)

In [ ]:
print(b)
type(b)
id(b)

In [ ]:
print(c)
type(c)
id(c)

In [ ]:
## assigning same value to multiple varibales
x=y=z=10
print(x)
print(y)
print(z)

In [ ]:
print('ten',x)

# first python program

In [ ]:
x=10
y=20
sum=x+y
print(sum)

# reading data from key board

In [ ]:
n=input('enter number')

In [ ]:
print(n)

In [ ]:
type(n)

In [ ]:
## converting type data by using casting function
n=int(input('enter number'))

In [ ]:
type(n)

In [ ]:
# converting of data by using eval function
n=eval(input('enter number'))

In [ ]:
type(n)

### assignment  :read student name and marks from keyboard and print the data

### how to read multiple values from the keyboard in a single line

In [ ]:
a,b=[int(x) for x in input('eneter 2 numbers').split()]

In [ ]:
a

In [ ]:
b

In [ ]:
##split function takes space as seperator  but we can pass any thing as sepertaor in single quotes

In [ ]:
a,b=[int(x) for x in input('eneter 2 numbers').split(':')]

In [ ]:
a

In [ ]:
b

In [ ]:
x=eval("10+20+30")

In [ ]:
print(x)

In [ ]:
x=eval(input('enter expression'))  ##10+2*3/4

In [ ]:
x

# output statements

In [ ]:
#print without any arguments  just it print new line charcter
print()

In [ ]:
print('hai')
print("hello"+"world")    
print("hello","world")

In [ ]:
#print with varibale number of  arguments

a,b,c=10,20,30
print("the values are:",a,b,c)

In [ ]:
## defaultly output values seperated by space

In [ ]:
## we want to change seperator space to other use sep

In [ ]:
a,b,c=10,20,30

In [ ]:
print(a,b,c,sep='::')

In [ ]:
#print with end  arguments


print('hello')
print('python')

In [ ]:
print('hello',end='   ')
print('python')

In [ ]:
## print object(list,tuple,set) statemnts
l=[10,20,30]
t=(10,40)
print(l)
print(t)

In [ ]:
##print(string, varaibale list)
name='buddhareddy'
age=30
print("hello",name,"your age is   ",age)

In [ ]:
##print(formatted string)
#  %c ---- int
#  %d ---- int
#  %f----- float
#  %s------ string

In [ ]:
name='buddha'
age=30
print("hello %s your age is %s "%(name,age))

In [ ]:
##print with replacemmet operator

name='buddhareddy'
salary=600000
print("hello{0} salary{1}".format(name,salary))

# data types

In [ ]:
##int
a=10

In [ ]:
print(a)

In [ ]:
type(a)

In [ ]:
id(a)

In [ ]:
##float
b=10.5
print(b)

In [ ]:
type(b)

In [ ]:
##string
c='buddhareddy'
print(c)

In [ ]:
type(c)

In [ ]:
typ

In [ ]:
type(d)

In [ ]:
##complex
e=3+4j
print(e)

In [ ]:
type(e)

In [ ]:
## type conversion 
## type casting functions :  convert string data into required types
## eval functions  : convert the data type into required type

In [ ]:
a=input("enter value")

In [ ]:
a

# Composite data types/ data structures/ collections

##  String    List   Tuple   Set    Dictionary

# String Data Structure

In [ ]:
## insertion order is preserved
## immutable
## allows duplicates
## every charcter in string object is represented with unique index
## python suports forward(0) and backward indexing(-1)
## python string supports both concatenation & multiple concatenation
## create string using single or double or triple quotes

In [ ]:
## creating a string with single quote
name='buddha reddy'
print(name)

In [ ]:
## creating a string with double quote
name="buddha reddy"
print(name)

In [ ]:
## creating a string with triple single quote
name='''buddha reddy'''
print(name)

In [ ]:
## creating a string with triple double quote
name="""buddha 
reddy"""
print(name)

In [ ]:
## Accessing elements in a string

In [ ]:
## index error indicates if out of range value
## type error  indicates if index is non interger

In [ ]:
name="buddha reddy"

In [ ]:
print(name)

In [ ]:
id(name)

In [ ]:
type(name)

# String indexing

In [ ]:
## forward index

print(name[0])

print(name[1])

print(name[2])

print(name[3])

print(name[4])

print(name[5])

print(name[6])

print(name[7])

print(name[8])

print(name[9])

print(name[10])

print(name[11])

In [ ]:
len(name)

In [ ]:
## backward indexing
print(name[-1])

print(name[-2])

print(name[-3])

print(name[-4])

print(name[-5])

print(name[-6])

print(name[-7])

print(name[-8])

print(name[-9])

print(name[-10])

print(name[-11])

print(name[-12])

In [ ]:
## string slicing

In [ ]:
## we can access a range of characters uisng string.
## operator is colon (:)
a='buddha reddy'
print(a[0:1])

In [ ]:
print(a[0:2])
print(a[0:3])
print(a[0:4])
print(a[0:5])
print(a[1:2])
print(a[1:11])
print(a[-8:0])
print(a[-8:-3])
print(a[-5:4])

In [ ]:
## string  concatenation               +

string1='buddha'
string2='reddy'
print(string1+string2)

In [ ]:
## string multiplication   -- mutliplying / repeating string into n number of times
print(string2*3)

In [ ]:
## string is immutable
print(string1)

In [ ]:
id(string1)

In [ ]:
string1=string1+'buddha'  ## altering

In [ ]:
print(string1)

In [ ]:
id(string1)

In [ ]:
## string packing---- combing
a='buddha'
b='reddy'
c='polepelli'
packing=''.join([a,b,c])
print(packing)

In [ ]:
type(packing)

In [ ]:
## string unpacking   ---  extracting charcters 
str='python'
print(str)
type(str)
id(str)

# string functions

In [ ]:
## captialize

str='buddha reddy'
str.capitalize()

In [ ]:
## title

str.title()

In [ ]:
## is lower    ## all are lower case returns true

str.islower()

In [ ]:
## is upper

str.isupper()

In [ ]:
## lower   
str.lower()

In [ ]:
# upper
str.upper()

In [ ]:
## length 

len(str)

In [ ]:
## count -- number of occurances

str.count('d')

In [ ]:
## find   -- index position of specific charcter

str.find('d')  ## first occurance

In [ ]:
str.find('d',4)## after 4th index next occurnace

In [ ]:
## split --- splits the given strings into multiple strings
str.split() ## delimeter is space

In [ ]:
## lstrip()  -- removes specifc special character to left side of given string 
str.lstrip()

In [ ]:
str='!!! buddha reddy !!!'
str.lstrip('!')

In [ ]:
## same rstrip 

## try strip

In [ ]:
##swapcase -- converts lower to upper and upper to lower

str='ReDdY'

str.swapcase()

In [ ]:
## replace

str.replace('Y','i')  ## here u can give string also

In [ ]:
## del command  -- we cant delete specific character/range

## we can delete entire string object permanently 

str='buddha'

In [ ]:
del.str[0]

In [ ]:
del.str[0:2]

In [ ]:
del str

In [ ]:
print(str)

In [ ]:
## how to display given string in ascending order

string='python'

In [ ]:
''.join(sorted(string))

In [ ]:
#### how to display given string in descending order

''.join(reversed(sorted(string)))

In [ ]:
## how to display the givenn string with three dots between each charcter 

s10='...'.join(string)

In [ ]:
s10

In [ ]:
## how to display the given string with space between each charcter

string

In [ ]:
'  '.join(string)

In [ ]:
## how to get buddha from string 'buddha reddy'

string='buddha reddy'
string.replace('reddy',' ')

In [ ]:
string.split('r')[0]

In [ ]:
string[0:6]

In [ ]:
## using -  [::]

str='buddha reddy'

str[::]

In [ ]:
str[0::]

In [ ]:
str[1::]

In [ ]:
str[11::]

In [ ]:
str[0::5]

In [ ]:
str[1::0] ##slice step cant be zero

In [ ]:
str[0::-1]

In [ ]:
## string comparision will discuss in if condition
str='a'
st='b'

if str>st:
    print(str,'is bigger than',st)
    
elif st>str:
    print(st,' is bigger than',str)
    
else:
    print('both',str, ' and ' ,st ,' are equal')

# list data structure

In [ ]:
## collection of elements
## homogenous or hetero genous
## allow duplicates
## insertion order preserved
## elements seperted by comma and closed in square brackets []
## each element has unique index
## forward and backward index works
## list is mutable

In [ ]:
## create list in different wasy
## list function or  square brackets or range()

In [ ]:
## creating list by using []

In [ ]:
s=[]

In [ ]:
s

In [ ]:
type(s)

In [ ]:
s1=[1,2,3]   ## homogenous

In [ ]:
type(s1)

In [ ]:
s2=[1,2,'reddy',13+2j]  ## hetergneous

In [ ]:
s2

In [ ]:
## using list function 

s=list()

In [ ]:
s

In [ ]:
s1=list([1,2,'a'])

In [ ]:
s1

In [ ]:
s1=list('reddy')

In [ ]:
s1

In [ ]:
## creating a list by using range fucntion

In [ ]:
## syntax: range(starting value, last value,range value)
## default starting value 0 
## defacult range valeu is 1

In [ ]:
list1=list(range(10))

In [ ]:
print(list)

In [ ]:
type(list)

In [ ]:
list(range(2,10))

In [ ]:
list(range(-4,4))

In [ ]:
list(range(0,10,2))

In [ ]:
## creating a list using split function

In [ ]:
str='python is  very easy and simple language'

In [ ]:
lst=str.split()

In [ ]:
lst

In [ ]:
## creating an empty list

In [ ]:
## using []
lst=[]
print(lst)

In [ ]:
##using list()

lst=list()
print(lst)

In [ ]:
## using range

lst=list(range(0))

In [ ]:
lst

In [ ]:
type(lst)

In [ ]:
## list indexing
list1=[10,20,30,'python',True,False,1.5,2+3j]

In [ ]:
print(list1[0])

print(list1[1])

print(list1[-1])

print(list1[5])

print(list1[-5])

In [ ]:
## list slicing 
##list slicing  --- we can fecth set of elements from list
## it supports both forwad and backaward indexing
## slicing operator is (:)

print(list1[0:2])

print(list1[2:5])

print(list1[2:])

print(list1[2:-1])

print(list1[-4:5])

print(list1[-4:])

print(list1[-5:])

print(list1[-5:-1])

In [ ]:
list1

In [ ]:
##list is mutable -- we can change the value at any given time

In [ ]:
list1[0]=40  ## mutabale nature we can alter or replace

In [ ]:
list1

In [ ]:
## list concatenation

list1=[10,'python',5.5]

list2=[20,30,'buddhareddy',3+4j]

In [ ]:
print(list1)

print(list2)

In [ ]:
list3=list1+list2

In [ ]:
print(list3)

In [ ]:
## list multiplication  or repetition
l=[10,'python',3+2j]

l1=l*3

In [ ]:
l1

# list functions

# 1. len() -- no. of elements  in the list

In [ ]:

list1=[10,20,'python',30,True,10]

len(list1)

# 2.count()-- no. of occurances of specific elemets

In [ ]:

list1.count(10)

In [ ]:
## index()

list1.index(10,4)

In [ ]:
## append()

In [ ]:
list1.append(40)

In [ ]:
list1

In [ ]:
list1.append([10,20,30])

In [ ]:
list1

In [ ]:
## extend()     --  adds multiple elements at the end of the existing list

list1.extend([70,80,90])

In [ ]:
list1

In [ ]:
## difference between append()  and extend

In [ ]:
## insert

list1.insert(0,1)

In [ ]:
list1

In [ ]:
list1.insert(0,[10,20,30])

In [ ]:
list1

In [ ]:
## remove()  -- removes specific element

list1.remove(10)

In [ ]:
list1

In [ ]:
## pop()   -- based on index position

list1.pop(0)

In [ ]:
list1

In [ ]:
## reverse()

list1.reverse()

In [ ]:
list1

In [ ]:
## copy

x=list1.copy()

print(list1)

print(x)

In [ ]:
## clear  -- removes all the elements

list1.clear()

In [ ]:
list1

In [ ]:
## max()
y=[10,20,30]

max(y)

In [ ]:
## min()

min(y)

In [ ]:
## sort()

y.sort()
print(y)

In [ ]:
y.sort(reverse=True)

In [ ]:
print(y)

In [ ]:
## del command

del y[0]

In [ ]:
y

In [ ]:
del y   ##remove entire list object permanently

In [ ]:
## difference between remove and pop

## clear and delete

## how to display the existibg list in ascending order l=[10,20,11,12,15]

## working with index method on  nested list

In [ ]:
list1=[10,'python',5.8]
list2=[20,30,'buddha',3+4j]

In [ ]:
nestlist=[list1,list2]

In [ ]:
print(nestlist)

In [ ]:
nestlist.index([10, 'python', 5.8])

In [ ]:
nestlist[0].index(10)

# next topic is tuple ipnb file