# Dictionary

dictionary is unordered set of key : value pairs , here keys are unique, values can be duplicated
a pair of braces creates an empty dictionary :{ }
the main operation on a dictionary are storing  a value with some key and extracting the value given to the key
insertion order is not preserved
homogenous and heterogenous elements for both keys & values
keys are immutable and values are mutable
indexing & slicing is not possible

# creating empty dictionary

In [1]:
a={}

In [2]:
type(a)

dict

In [3]:
## now here i am adding one key to store the value
a['bcd']=10

In [4]:
a

{'bcd': 10}

In [5]:
a['bcd']=20

In [6]:
a

{'bcd': 20}

In [9]:
## creating a dictionary with dict() 
a=dict([('b',20),('a',10),('c',30)])

In [10]:
a

{'b': 20, 'a': 10, 'c': 30}

In [11]:
studetails={'id':100,'name':'abc','age':23,'marks':95}

In [13]:
studetails

{'id': 100, 'name': 'abc', 'age': 23, 'marks': 95}

In [14]:
studetails['id']

100

In [15]:
studetails={'id':100,'name':'abc','age':23,'marks':[95,40,100]}

In [16]:
studetails

{'id': 100, 'name': 'abc', 'age': 23, 'marks': [95, 40, 100]}

In [17]:
studetails['marks'][1]

40

In [18]:
## updating dictionary
studetails['id']=200

In [19]:
studetails

{'id': 200, 'name': 'abc', 'age': 23, 'marks': [95, 40, 100]}

In [20]:
## deleting key: value pairs from dict
studetails.pop('age')

23

In [21]:
studetails

{'id': 200, 'name': 'abc', 'marks': [95, 40, 100]}

In [22]:
## popitem : lastkey and its values will beremoved
studetails.popitem()

('marks', [95, 40, 100])

In [23]:
## delete all key value pairs
studetails.clear()

In [24]:
studetails

{}

# functions

In [25]:
## keys() --
a={1:'python',2:3+5j,3:(10,20,30)}

In [26]:
a

{1: 'python', 2: (3+5j), 3: (10, 20, 30)}

In [27]:
a.keys()

dict_keys([1, 2, 3])

In [28]:
studetails={'id':100,'name':'abc','age':23,'marks':95}

In [29]:
studetails.keys()

dict_keys(['id', 'name', 'age', 'marks'])

In [30]:
## values
a.values()

dict_values(['python', (3+5j), (10, 20, 30)])

In [31]:
studetails.values()

dict_values([100, 'abc', 23, 95])

In [32]:
## copy()
ab=studetails.copy()

In [33]:
ab

{'id': 100, 'name': 'abc', 'age': 23, 'marks': 95}

In [34]:
## pop , popitem ,clear()

In [37]:
## get : get the vakue of specified key
ab.get('id')

100

In [36]:
ab.setdefault()

{1: 'python', 2: (3+5j), 3: (10, 20, 30)}

In [38]:
##items -- key and its pairs will beprinted
ab.items()

dict_items([('id', 100), ('name', 'abc'), ('age', 23), ('marks', 95)])

In [ ]:
## update  -->

# operators

# operator is a symbol . it perfroms mathemtical or logical oepratiions
1.arithmetic
2. assignemnt
3. comparision(relational)
4. logical
5.bitwise
6.membership
7.identity

# arithmetic operators

a,b=10,5

In [42]:
a+b  ## addition

15

In [43]:
a-b ## substarction

5

In [44]:
a*b #multiplication

50

In [45]:
a=22

In [46]:
a/b ## divioson divides left hand operand by righ hand

4.4

In [47]:
a% b ## remianeder

2

In [48]:
a//b  ## floor diviosn

4

In [49]:
a,b=2,3

In [50]:
a**b  ## power(a,b) , a to power of b

8

# comparision  -- whether true , condition not satisifed false

In [51]:
a

2

In [52]:
b

3

In [53]:
a==b

False

In [54]:
a!=b

True

In [55]:
a>b

False

In [56]:
a<b

True

In [57]:
a>=b

False

In [58]:
a<=b

True

# assignment the operator  --> assign  the values

In [ ]:
a=10

In [60]:
a==10 ## comparision

True

In [70]:
## short end  a =a+b---> a+=b
a

19

In [71]:
b

3

In [72]:
a=a+b

In [73]:
a

22

In [68]:
a+=b

In [69]:
a

19

In [ ]:
a=a-b

In [77]:
a=20
b=10
c=0
print(' a value is', a)
print('b value is ',b)
c+=a
print(" a + c value of c is " ,c)

 a value is 20
b value is  10
 a + c value of c is  20

In [78]:
#bit wise  -->every thing is stored in the form of zeros and 1
## 2= 0010(8421)
## 9==1001

In [80]:
a=111100

In [81]:
b=1011

In [82]:
a&b

496

In [83]:
a=10 ##2

In [84]:
b=11 ## 3

In [85]:
a &b 10 &11

10

In [86]:
a| b
a^b

1

# logical operators

In [87]:
a=10

In [88]:
b=20

In [89]:
a and b

20

In [91]:
c=0

In [92]:
a and c

0

In [93]:
a or c

10

In [94]:
not a

False

In [95]:
## membership -- in ,not in

l=[1,2,3,4,'python']

In [96]:
'python' in l

True

In [97]:
'Python' in l

False

In [98]:
## identity --> memory locations of two objects  ( is,isnot )

s='sai'

In [99]:
c='sai'

In [100]:
id(s)

2470383985328

In [101]:
id(c)

2470383985328

In [102]:
s is c

True

In [105]:
s is not c

False