# conversion from string to list

In [85]:
s='this is not upto mark'

In [91]:
a=s.split()

In [92]:
type(s)

str

In [93]:
type(a)

list

In [94]:
a

['this', 'is', 'not', 'upto', 'mark']

# conversion from list to string

In [96]:
c="".join(a)

In [97]:
type(c)

str

In [98]:
c

'thisisnotuptomark'

# Tuple data structure

### homogenous and heterogenous elements

### tuple is immutable -- once we create a tuple we cant modify 


### all elements are seperated by commas


### duplicate elements allowed


### every element in the tuple has seperate index value


### we can create tuples using tuple() ,with (), without() also


### supports both forward and backward indexig


### tuples are used as keys to dictionaries

# create a tuple using tuple()

In [102]:
a=[10,20,30,True]

In [103]:
a

[10, 20, 30, True]

In [104]:
type(a)

list

In [105]:
tup=tuple([10,20,30,True]) ## we can convert with this fucntion from list to tuple

In [106]:
tup

(10, 20, 30, True)

In [3]:
type(tup)

tuple

In [4]:
tup1=list([10,20,30,True])

In [5]:
tup1

[10, 20, 30, True]

In [6]:
type(tup1)

list

# creating empty tuple

In [110]:
tup2=tuple()

In [111]:
tup2

()

In [112]:
type(tup2)

tuple

# creating tuple with()

In [113]:
tup3=(1,2,3,10.5,True)

In [114]:
tup3

(1, 2, 3, 10.5, True)

In [115]:
type(tup3)

tuple

# creating tuple without ()

In [120]:
tup4=1,2,3,True

In [121]:
type(tup4)

tuple

In [122]:
tup4

(1, 2, 3, True)

# ##creating list with single element

In [123]:
tup3=(1)

In [124]:
tup3

1

In [125]:
type(tup3)

int

# tuple indexing

In [126]:
tup=(10,20,30,True,'python',10.5,2+5j,10)

In [127]:
tup

(10, 20, 30, True, 'python', 10.5, (2+5j), 10)

In [128]:
type(tup)

tuple

In [129]:
tup[0]

10

In [130]:
tup[7]

10

In [131]:
tup[-2]

(2+5j)

# tuple slicing

In [132]:
tup

(10, 20, 30, True, 'python', 10.5, (2+5j), 10)

In [133]:
tup[0:]

(10, 20, 30, True, 'python', 10.5, (2+5j), 10)

In [134]:
tup[3:5]

(True, 'python')

In [135]:
tup[-5:-2]

(True, 'python', 10.5)

# tuple concatenation

In [137]:
tup1=(1,2,3,'pyhton',True)

In [139]:
tup1

(1, 2, 3, 'pyhton', True)

In [140]:
type(tup1)

tuple

In [141]:
tup2=(10,20,30,False)

In [142]:
tup2

(10, 20, 30, False)

In [143]:
type(tup2)

tuple

In [144]:
tup3=tup1+tup2

In [145]:
tup3

(1, 2, 3, 'pyhton', True, 10, 20, 30, False)

In [146]:
type(tup3)

tuple

# multiplication/ repetition

In [148]:
tup2*5

(10,
 20,
 30,
 False,
 10,
 20,
 30,
 False,
 10,
 20,
 30,
 False,
 10,
 20,
 30,
 False,
 10,
 20,
 30,
 False)

# tuple functions

In [149]:
## all() -- it returns true when all elemmts are true .(if any elemnt is 0,False then its not true)
tup=(1,2,3)
type(tup)

tuple

In [150]:
all(tup)

True

In [152]:
tup=(0,2,1)

In [153]:
type(tup)

tuple

In [154]:
all(tup)

False

In [155]:
tup1=(2,3,False)
type(tup1)

tuple

In [157]:
all(tup1)

False

In [158]:
## any()-- if any one element is true it return true

In [159]:
tup=(1,2,3)

In [160]:
type(tup)

tuple

In [161]:
any(tup)

True

In [163]:
tup1=(1,2,3,False)

In [164]:
type(tup1)

tuple

In [165]:
any(tup1)

True

In [166]:
## len() -- no.of elemnts
len(tup1)

4

In [167]:
## count() -- no.of occurnaces of specific elemenst
tup=(1,2,3,4,1,5)

In [168]:
type(tup)

tuple

In [169]:
tup.count(1)

2

In [171]:
## index -- find the index value of specific element
tup.index(4)

3

In [172]:
## max() -- maximum
max(tup)

5

In [173]:
## min() -- minium
min(tup)

1

In [174]:
## sorted ()
tup=(1,3,2,55,6,99)

In [175]:
type(tup)

tuple

In [176]:
sorted(tup)

[1, 2, 3, 6, 55, 99]

In [177]:
sorted(tup,reverse=True)

[99, 55, 6, 3, 2, 1]

In [178]:
## sum() -- returns sum of all elemenst
sum(tup)

166

In [181]:
## delete
del tup

In [182]:
tup ## name error occur permant delete

NameError: name 'tup' is not defined

In [ ]:
how to display given tuple in asceding order  tup=(10,20,30,40)

how to reverse the tuple

In [ ]:
answers

In [ ]:
sorted()
reversed()

# conversions

In [183]:
## converting tuple to list
tup=(1,2,3,4)
print(tup)
type(tup)

(1, 2, 3, 4)

tuple

list(tup)

In [188]:
## conversion from list to tuple
li=[10,20,30]
type(li)

list

In [189]:
a=tuple(li)

In [190]:
type(a)

tuple

In [191]:
## converting tuple to string
tu=('abc','def','ghi')
type(tu)

tuple

In [192]:
s=''.join(tu)

In [193]:
s

'abcdefghi'

## advantages of tuple over list
1. general tuple for heterogenous list for homogenuous
2. iteration is faster in tuple compare to list
3. tuple is used as key for dictionary
4. if u dont want to change your data use tuple

# goto dictionary